.btn-primary {
  color: #ffffff;
  background-color: #604c8f;
  border-color: #55437e;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #4e3e74;
  border-color: #3a2e56;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #604c8f;
  border-color: #55437e;
}
.btn-primary .badge {
  color: #604c8f;
  background-color: #ffffff;
}
.btn-default {
  color: #ffffff;
  background-color: #999999;
  border-color: #8c8c8c;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #858585;
  border-color: #6e6e6e;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #999999;
  border-color: #8c8c8c;
}
.btn-default .badge {
  color: #999999;
  background-color: #ffffff;
}
.btn-cart {
  color: white;
  background: #d9534f;
  border-color: #d43f3a;
}
.btn-cart.no-items {
  color: white;
  background-color: #999999;
  border-color: #8c8c8c;
}
.btn-cart:hover,
.btn-cart:focus,
.btn-cart:active,
.btn-cart.active,
.open .dropdown-toggle.btn-cart {
  color: white;
  background-color: #6db038;
  border-color: #619d32;
}
.btn-add-to-cart {
  color: white;
  background: #604c8f;
  border-color: #55437e;
}
.btn-add-to-cart:hover,
.btn-add-to-cart:focus,
.btn-add-to-cart:active,
.btn-add-to-cart.active,
.open .dropdown-toggle.btn-add-to-cart {
  color: white;
  background-color: #6db038;
  border-color: #619d32;
}
.dropdown-form button {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  text-align: left;
  width: 100%;
  padding-left: 0;
}
.dropdown-form button .selection {
  display: block;
  width: 100%;
  padding-right: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 12px;
}
.dropdown-form button .caret {
  position: absolute;
  right: 10px;
  top: 16px;
}
.dropdown-form .dropdown-menu {
  width: 100%;
}
.dropdown-form .dropdown-menu li a {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-form.open button,
.dropdown-form button:focus {
  border-color: #604c8f;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
#counseling-modal .modal-title {
  font-size: 20px;
  color: #604c8f;
}
#counseling-modal .modal-body {
  overflow: hidden;
  padding: 15px 0 0;
  position: relative;
}
#counseling-modal .counseling-form {
  margin: 15px 0;
}
#counseling-modal .pharmacist-image {
  position: absolute;
  bottom: 0;
  right: 0;
}
#counseling-modal textarea {
  resize: vertical;
}
body {
  color: #666666;
  font-size: 13px;
  border-top: 4px solid #eeeeee;
}
a:not(.btn):not(.social-icon),
a:not(.btn):not(.social-icon):visited {
  outline: 0 !important;
  color: #333333 !important;
}
a:not(.btn):not(.social-icon):hover,
a:not(.btn):not(.social-icon):visited:hover {
  color: #6db038 !important;
  text-decoration: none;
}
.no-padding {
  padding: 0;
}
.full-width {
  width: 100%;
}
textarea {
  min-height: 70px;
}
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
h1,
h2,
h3,
h4 {
  font-family: "Trebuchet MS", sans-serif;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: #666666;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  margin: 5px 0 10px;
}
.ribbon {
  background: #604c8f;
  font-size: 12px;
  margin-left: -5px;
  margin-top: 10px;
  padding: 3px 30px 3px 10px;
  position: absolute;
  text-transform: uppercase;
  max-width: 100%;
  color: white;
}
.ribbon .ribbon-content:before {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #000000 transparent transparent;
  bottom: -5px;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 5px 0 0 5px;
}
.border-bottom {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 20px;
}
.pagination-wrapper {
  margin-bottom: 30px;
}
.pagination-wrapper .pagination {
  margin-bottom: 5px;
}
.pagination-wrapper .pagination .active a,
.pagination-wrapper .pagination .active:hover a,
.pagination-wrapper .pagination .active a:hover {
  color: white !important;
}
.motivator {
  background: #604c8f;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 20px 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.motivator p {
  margin: 0;
}
.motivator .motivator-balance {
  color: #eeffbf;
}
.table-responsive {
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding-bottom: 2px;
}
.table-responsive table {
  margin-bottom: 0;
}
.alert-item-added a {
  text-decoration: underline;
}
.promotion-banner {
  margin-bottom: 15px;
}
.promotion-banner img {
  width: 100%;
}
header {
  position: relative;
}
.navbar-custom {
  background: white;
  border-top: 4px solid #f6f6f6;
  border-bottom: none;
  height: 75px;
  box-shadow: 0 0 3px white;
}
.navbar-custom .container {
  position: relative;
}
.logo-container {
  padding: 0;
  margin: 0 0 10px;
  display: inline-block;
}
.cart-area {
  position: absolute;
  right: 15px;
  top: -3px;
  padding: 0 10px !important;
  background: #eeeeee;
  border-radius: 0 0 6px 6px;
}
.cart-area ul {
  list-style: none;
  padding: 0;
  margin-right: 0 !important;
}
.cart-area ul li {
  border-right: 1px solid #cccccc;
  float: left;
  font-size: 16px;
  font-weight: normal;
  margin: 4px 12px 0 0;
  padding: 6px 12px 5px 0;
}
.cart-area ul li.checkout-link {
  border: medium none;
  margin: 4px 0;
  padding: 0;
}
.cart-area ul li a {
  color: #666666 !important;
  padding: 0;
  line-height: inherit;
}
.cart-area ul li a.btn-cart {
  color: white !important;
  padding: 6px 12px;
}
.cart-area ul li a.btn-cart:hover {
  color: white !important;
  padding: 6px 12px;
  background-color: #6db038;
}
.cart-contents {
  font-size: 14px;
  left: 50%;
  padding: 10px 15px;
  position: absolute;
  top: 35px;
  width: 200px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.cart-contents .total {
  border-top: 1px solid #cccccc;
  margin-top: 5px;
  padding-top: 5px;
}
.cart-contents .total span {
  font-weight: bold !important;
}
.cart-contents div {
  font-weight: bold;
}
.cart-contents div > span {
  float: right;
  font-weight: normal;
}
.cart-link:hover .cart-contents {
  display: block;
}
.header-search-placeholder {
  padding-right: 55px;
  padding-left: 15px;
  margin-top: 100px;
}
.header-search-placeholder #top-search-input {
  position: relative;
  z-index: 10;
  height: 30px;
  font-size: 12px;
}
.header-search-placeholder button {
  background: #444444;
  position: absolute;
  right: -40px;
  top: 0;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  padding: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.header-search-placeholder button:hover {
  color: white;
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-search-placeholder button.active,
.header-search-placeholder button:active {
  box-shadow: none;
}
.header-search-placeholder form {
  position: relative;
}
.main-nav .container-fluid,
.main-nav .navbar-collapse {
  padding: 0;
}
.main-nav .nav > li > a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  padding: 10px 15px 10px 0 !important;
  font-size: 16px;
  color: #666666 !important;
}
.main-nav .navbar {
  min-height: 0;
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
}
.main-nav .menu-section-title {
  margin-top: 5px;
}
.main-nav .menu-section-title span {
  color: #604c8f;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #604c8f;
  display: block;
  width: 100%;
}
li.dropdown-custom {
  position: static;
}
li.dropdown-custom a {
  display: block;
  width: 100%;
}
li.dropdown-custom ul.dropdown-menu {
  left: 0;
  width: 100%;
  border: 1px solid #cccccc;
  padding: 10px 0 20px;
}
li.dropdown-custom ul.dropdown-menu .dropdown-submenu {
  list-style: none;
  padding-left: 0;
}
li.dropdown-custom ul.dropdown-menu .dropdown-submenu.level-2,
li.dropdown-custom ul.dropdown-menu .dropdown-submenu.level-3,
li.dropdown-custom ul.dropdown-menu .dropdown-submenu.level-4 {
  padding-left: 10px;
}
li.dropdown-custom ul.dropdown-menu .dropdown-submenu.level-2 .menu-section-title,
li.dropdown-custom ul.dropdown-menu .dropdown-submenu.level-3 .menu-section-title,
li.dropdown-custom ul.dropdown-menu .dropdown-submenu.level-4 .menu-section-title {
  margin-top: 0;
}
li.dropdown-custom ul.dropdown-menu .dropdown-submenu.level-2 .menu-section-title span,
li.dropdown-custom ul.dropdown-menu .dropdown-submenu.level-3 .menu-section-title span,
li.dropdown-custom ul.dropdown-menu .dropdown-submenu.level-4 .menu-section-title span {
  font-size: 14px;
}
li.dropdown-custom ul.dropdown-menu a:not(.menu-section-title):hover {
  background-color: #f1f1f1;
}
.sidebar h2 {
  color: #333333;
  margin: 5px 0 10px;
}
.sidebar .banner {
  margin-bottom: 10px;
}
.sidebar .banner.guarantee {
  background: #f6f6f6;
  text-align: center;
  padding: 10px 0;
}
.sidebar .banner.guarantee img {
  max-width: 80%;
}
.sidebar .banner.ask {
  border: 1px solid #d7d7d7;
  padding: 5px 0;
  text-align: center;
}
.sidebar .banner.ask button {
  margin-top: 4px;
}
.sidebar .widget {
  margin-bottom: 10px;
}
.sidebar .widget .widget-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .widget .widget-content ul li {
  border-top: 1px dotted #cccccc;
  margin-top: 8px;
  padding-top: 8px;
}
.sidebar .widget .widget-content ul li:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.sidebar .widget .widget-content ul li i {
  color: #cccccc;
}
.sidebar .widget .widget-content ul li a {
  margin-left: 3px;
  text-decoration: underline !important;
}
.sidebar .widget-mailing-list {
  margin: 40px 0;
}
.sidebar .widget-mailing-list button {
  margin-top: 5px;
}
footer {
  margin-top: 30px;
}
footer .footer-top {
  overflow: hidden;
  padding-bottom: 0;
}
footer .footer-left {
  font-size: 11px;
  color: #999999;
  padding: 0 5px;
}
footer .footer-left a {
  color: #999999;
  text-decoration: underline;
}
footer .footer-left ul.footer-nav {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
}
footer .footer-left ul.footer-nav li {
  border-left: 1px solid #999999;
  float: left;
  margin-right: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}
footer .footer-left ul.footer-nav li:first-child {
  border-left: none;
  padding: 0;
}
footer .footer-right {
  padding: 0 5px;
}
footer .footer-right ul.social-icons {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  text-align: right;
}
footer .footer-right ul.social-icons li {
  background: #444444;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
  font-size: 20px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
footer .footer-right ul.social-icons li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
footer .footer-right ul.social-icons li a {
  color: white;
}
footer .footer-right ul.social-icons li a:hover {
  color: white !important;
}
footer .footer-payment-methods {
  text-transform: uppercase;
  font-size: 11px;
  color: #999999;
  padding-top: 15px;
  margin-bottom: 50px;
}
footer .footer-payment-methods p {
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .navbar-custom {
    height: auto;
  }
  .navbar-custom .navbar-toggle {
    margin-bottom: -10px;
  }
  .logo-container {
    margin-top: -5px;
    margin-bottom: -10px;
    padding: 0 15px;
  }
  .logo-container img.visible-xs {
    display: inline !important;
    width: 160px;
  }
  .mobile-cart {
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 0 15px;
  }
  .mobile-cart .btn-cart {
    position: relative;
  }
  .mobile-cart .btn-cart .badge {
    background: #604c8f;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(35%, -35%);
    -ms-transform: translate(35%, -35%);
    transform: translate(35%, -35%);
  }
  .mobile-cart .num-items-in-cart {
    margin: 5px 15px 0 0;
    font-size: 16px;
  }
  .cart-area {
    position: relative;
    right: 0;
    top: 0;
    border-radius: 0;
    padding: 0 !important;
  }
  .cart-area ul {
    margin-left: 0 !important;
  }
  .cart-area ul li {
    border-right: none;
    float: none;
    margin: 0;
    padding: 5px 15px;
  }
  .cart-area ul li:not(.checkout-link):hover {
    background-color: #e7e7e7;
  }
  .cart-area ul li.checkout-link {
    padding: 0 15px;
  }
  .header-search-placeholder {
    margin-top: 70px;
  }
  .alert-item-added {
    right: 10px;
    left: 10px;
  }
  .main-nav .navbar-header {
    position: relative;
    margin: 0;
    height: 50px;
  }
  .main-nav .navbar-header button {
    position: absolute;
    left: 0;
    width: 100%;
  }
  #main-navigation {
    margin: 0;
    position: absolute;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 1000;
    border: 1px solid #cccccc;
    border-radius: 0 0 4px 4px;
  }
  #main-navigation > .nav {
    margin: 0;
    max-height: 650px !important;
    overflow: auto;
    padding: 0 15px;
  }
  #main-navigation > .nav > li > a {
    padding: 5px 15px 5px 0 !important;
  }
}
.featured-products {
  margin-bottom: 30px;
}
.product {
  padding: 0 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.product .product-inner {
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius: 4px;
  padding-bottom: 40px;
}
.product .product-inner.with-rating {
  padding-bottom: 100px;
}
.product .product-inner.with-rating .rating-wrapper {
  bottom: 60px;
}
.product .product-inner .btn-buy {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 15px;
  min-width: 60%;
}
.product .product-inner .labels {
  background: white;
}
.product .product-image {
  background: white;
  text-align: center;
}
.product .product-image .img-responsive {
  display: inline;
}
.product .product-information {
  font-size: 13px;
  padding: 10px;
  position: relative;
}
.product .product-information .product-price {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 4px 0 0;
  color: #666666;
  font-size: 14px;
  padding: 6px 10px;
  position: absolute;
  right: 1px;
  top: -26px;
}
.product .product-information .product-price small {
  font-size: 85%;
}
.product .product-information .product-price.sale {
  background: #444444;
  color: white;
}
.product .product-information .product-price.sale small {
  color: white;
}
.labels {
  min-height: 25px;
  padding: 3px 5px;
}
.labels .label {
  display: block;
  float: left;
  font-size: 12px;
  margin-bottom: 3px;
  margin-right: 3px;
}
.rating-wrapper {
  position: absolute;
  bottom: 10px;
  height: 37px;
  left: 15px;
}
.rating-wrapper .star-rating {
  display: block;
  font-size: 16px;
}
.rating-wrapper .star-rating-caption {
  display: block;
  margin-top: -5px;
}
.collection {
  padding: 0 5px;
  margin-bottom: 10px;
}
.collection .collection-image img {
  width: 100%;
}
.collection .collection-information {
  background: #f6f6f6;
  border-radius: 0 0 4px 4px;
  padding: 10px;
}
.collection .collection-information a {
  display: block;
}
@media (max-width: 767px) {
  .labels {
    padding: 0;
  }
}
.collection-details .collection-description {
  background: #f6f6f6;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 10px 15px 15px;
  overflow: hidden;
}
.collection-details .collection-description .collection-link {
  background: none repeat scroll 0 0 white;
  border: 5px solid #f6f6f6;
  font-size: 12px;
  overflow: hidden;
  padding: 10px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sorting-filtering {
  margin-bottom: 20px;
}
.filtering-dropdown {
  margin-left: 10px;
}
.filters {
  margin: 0 10px;
}
.filters .price-range-slider,
.filters .min-price-slider,
.filters .max-price-slider {
  display: none;
  margin-top: 7px;
}
.filters .brand-dropdown {
  display: none;
}
.filters .glyphicon.glyphicon-remove {
  background: none repeat scroll 0 0 #ddd;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  margin-left: 2px;
  padding: 4px;
  text-align: center;
}
#reset {
  margin-right: 10px;
}
#filters > div {
  margin-left: 10px;
}
#filters > div.price-range-slider {
  margin-top: 7px;
  min-width: 280px;
}
#filters > div.price-range-slider b:first-child {
  margin-right: 15px;
}
#filters > div.price-range-slider b:last-child {
  margin-left: 15px;
}
@media (max-width: 767px) {
  .collection-details .collection-description .collection-link {
    white-space: inherit;
  }
}
.product-wrapper {
  padding: 15px;
  background: #f6f6f6;
  border-radius: 4px;
}
.product-wrapper .ljekarnik-count-down {
  background-color: #4088cf;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 6px;
  margin-bottom: 10px;
}
.product-wrapper #active-wrapper {
  position: relative;
  width: 100%;
  background: white;
  overflow: hidden;
  margin: 0 0 10px 0;
  border-width: 0 5px;
  border-style: none solid;
  border-color: #f6f6f6;
}
.product-wrapper #active-wrapper img {
  display: block;
}
.product-wrapper #active-wrapper img.unzoomed {
  position: absolute;
  display: block;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-wrapper #active-wrapper img.zoomed {
  position: absolute;
  top: 0;
  left: 0;
}
.product-wrapper .product-thumbs {
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.product-wrapper .product-thumbs li {
  position: relative;
  padding: 0 5px;
  margin-bottom: 10px;
}
.product-wrapper .product-thumbs li.active-thumb a,
.product-wrapper .product-thumbs li:hover a {
  border-color: #6db038;
}
.product-wrapper .product-thumbs li a {
  border: 1px solid #d7d7d7;
  background: none repeat scroll 0 0 white;
  display: block;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}
.product-wrapper .product-thumbs li a img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-wrapper .product-information {
  padding-right: 5px;
}
.product-wrapper .product-information .product-header-title {
  margin-bottom: 0;
}
.product-wrapper .product-information .product-header-title .product-title {
  font-size: 24px;
}
.product-wrapper .product-header {
  margin: 0 0 20px;
}
.product-wrapper .quantity-dropdown {
  display: inline;
}
.product-wrapper .quantity-dropdown ul {
  top: 28px;
  left: auto;
  right: 3px;
  min-width: 100px;
}
.product-wrapper .product-header-title {
  margin-bottom: 10px;
  padding-left: 0;
}
.product-wrapper .product-header-title .product-title {
  font-size: 18px;
  font-weight: bold;
  color: #604c8f;
  margin-top: 0;
  margin-bottom: 5px;
}
.product-wrapper .product-header-title .product-vendor {
  font-size: 12px;
  margin-top: 0;
}
.product-wrapper .product-header-title .purchase {
  margin-top: 8px;
}
.product-wrapper .purchase {
  margin-top: 18px;
}
.product-wrapper .purchase .price {
  font-size: 24px;
  color: #6db038;
  margin-bottom: 0;
}
.product-wrapper .purchase .compare-at-price {
  margin-bottom: 10px;
  display: block;
}
.product-wrapper .vendor-message {
  background: #604c8f;
  color: white;
  border: none;
}
.product-wrapper .tabs-wrapper {
  padding: 0 5px;
}
.product-wrapper .tabs-wrapper .nav-tabs li.active {
  position: relative;
  z-index: 20;
}
.product-wrapper .tabs-wrapper .nav-tabs li.active a {
  border-bottom: none;
}
.product-wrapper .tab-content {
  position: relative;
  z-index: 10;
  background: white;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  padding: 10px 15px 5px;
  margin-top: -2px;
}
.product-wrapper .accordion-wrapper .panel-heading {
  padding: 0;
}
.product-wrapper .accordion-wrapper .panel-title a {
  display: block;
  width: 100%;
  padding: 10px 15px;
}
.product-wrapper .product-reviews-header-title {
  font-size: 24px;
  font-weight: bold;
  color: #604c8f;
  margin-top: 0;
  margin-bottom: 12px;
}
.product-wrapper .product-reviews-summary {
  overflow: hidden;
  margin-bottom: 10px;
}
.product-wrapper .product-reviews-summary .spr-summary-actions {
  margin-top: 18px;
}
.product-wrapper .product-reviews-summary .product-rating-wrapper > .star-rating {
  float: left;
}
.product-wrapper .product-reviews-summary .product-rating-wrapper > a {
  float: left;
  clear: left;
}
.product-wrapper .product-reviews {
  margin-top: 20px;
  display: none;
}
.product-wrapper .product-review {
  border-top: 1px solid #d7d7d7;
  padding: 15px 0;
}
.product-wrapper .product-review .product-review-header-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #604c8f;
}
.product-wrapper .product-review .product-review-header-byline {
  font-style: italic;
}
.product-wrapper .product-review .product-review-content {
  margin: 15px 0;
}
.product-wrapper .product-review .product-review-footer {
  text-align: right;
  font-size: 11px;
}
.product-wrapper .product-review .product-review-footer a {
  text-decoration: underline;
}
.product-wrapper .review-form {
  border-top: 1px solid #d7d7d7;
  padding: 15px 0;
  margin-top: 20px;
  display: none;
}
.product-wrapper .review-form .review-form-title {
  font-size: 16px;
  line-height: 24px;
  color: #604c8f;
}
.product-wrapper .review-form .review-form-review-body textarea {
  resize: vertical;
}
.product-wrapper .review-form .review-rate-product {
  font-size: 20px;
}
.product-wrapper .review-form .review-rate-product i {
  cursor: pointer;
}
.product-wrapper .delivery {
  position: relative;
  margin: 10px 0;
}
.product-wrapper .delivery p {
  padding-left: 40px;
  margin: 0;
}
.product-wrapper .delivery .fa-truck {
  font-size: 24px;
  left: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.product-wrapper .installment-payment p {
  padding-left: 40px;
}
.product-wrapper .installment-payment .fa-credit-card {
  font-size: 24px;
  left: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.product-wrapper .installment-payment strong {
  color: #604c8f;
}
.product-wrapper .table-responsive table {
  margin-bottom: 2px;
}
.product-wrapper .table-responsive th.product-actions,
.product-wrapper .table-responsive td.product-actions {
  text-align: center;
  width: 40px;
}
.product-wrapper .table-responsive th.product-discount,
.product-wrapper .table-responsive td.product-discount {
  text-align: center;
}
.product-wrapper .table-responsive .fa-plus-circle {
  color: #604c8f;
  font-size: 24px;
  cursor: pointer;
}
.product-text-box {
  border: 1px solid #d7d7d7;
  margin: 10px 0;
  padding: 15px 15px 5px;
}
.related-products {
  margin: 30px 0;
}
.product-labels {
  margin: 15px 0 20px;
  overflow: hidden;
}
.product-label {
  width: 16.66%;
  height: 0;
  padding: 0 0 16.66%;
  float: left;
  border: 1px solid #f6f6f6;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.product-label span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0 5%;
  width: 100%;
}
.product-label.label-bio {
  background: #009933;
  font-size: 30px;
  color: white;
}
.product-label.label-eco {
  background: #669933;
  font-size: 30px;
  color: white;
}
.product-label.label-gluten-free {
  background: #cc6633;
  color: white;
}
.product-label.label-sugar-free {
  background: #ffcc33;
  color: #333333;
}
.product-label.label-vegan {
  background: #3366cc;
  color: white;
}
.product-label.label-no-artificial-coloring {
  background: #33cccc;
  color: #333333;
}
.product-label.label-no-perfume {
  background: #660033;
  color: white;
}
.product-label.label-no-preservatives {
  background: #cc3300;
  color: white;
}
.product-label.label-no-preservatives small {
  font-size: 0.8em;
}
.products-bundle {
  margin: 10px 0 40px;
}
.products-bundle .quantity-dropdown {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 150;
  width: 80%;
  text-align: right;
}
.products-bundle .quantity-dropdown .btn {
  border-radius: 0 0 0 4px;
  padding: 3px 20px 3px 12px;
  max-width: 100%;
  height: auto;
  white-space: normal;
  font-size: 12px;
  line-height: 14px;
}
.products-bundle .quantity-dropdown .btn span.caret {
  position: absolute;
  right: 8px;
  top: 50%;
}
.products-bundle .quantity-dropdown ul {
  right: 0px;
  top: auto;
  border-radius: 4px 0 0 4px;
  font-size: 12px;
}
.products-bundle .row {
  position: relative;
}
.products-bundle .bundle-title h2 {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 5px;
}
.products-bundle .bundle-title h2 span {
  color: #604c8f;
}
.products-bundle .bundle-product-name {
  margin: 10px 0 5px;
}
.products-bundle .bundle-product-prices {
  overflow: hidden;
}
.products-bundle .product-wrapper {
  padding: 0;
}
.products-bundle .product-wrapper .product-inner {
  padding: 10px;
}
.products-bundle .product-wrapper .product-image {
  border: 1px solid #d7d7d7;
  background: white;
  text-align: center;
  position: relative;
}
.products-bundle .product-wrapper .product-image img {
  display: inline;
}
.products-bundle .product-wrapper .product-image a.product-image-name {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  text-align: left;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 15px 18px;
}
.products-bundle .product-wrapper.last .fa-plus {
  display: none;
}
.products-bundle .fa-plus {
  background: #999999;
  border-radius: 50%;
  color: white;
  float: left;
  font-size: 35px;
  height: 50px;
  left: 100%;
  line-height: 52px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50px;
  z-index: 100;
  -webkit-transform: translate(-15px, -50%);
  -ms-transform: translate(-15px, -50%);
  transform: translate(-15px, -50%);
}
.products-bundle span.equals {
  color: #999999;
  font-size: 70px;
  font-weight: bold;
  line-height: 52px;
  position: absolute;
  left: 0;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}
.products-bundle .add-set {
  width: 175px;
  position: absolute;
  right: 0;
  white-space: normal;
  margin-top: 10px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}
.products-bundle .add-set .btn-text {
  border-bottom: 1px solid;
  display: inline-block;
  margin-bottom: 2px;
  padding-bottom: 5px;
}
.products-bundle .bundle-product-price.regular {
  text-decoration: line-through;
  float: left;
}
.products-bundle .bundle-product-price.sale {
  color: #604c8f;
  float: left;
  margin-left: 10px;
}
@media (max-width: 767px) {
  #active-wrapper {
    border: none !important;
  }
  .product-wrapper .product-information {
    padding: 0;
  }
  .product-wrapper .ljekarnik-count-down {
    font-size: 14px;
  }
  .product-label {
    width: 25%;
    padding: 0 0 25%;
  }
  .product-label.label-bio {
    font-size: 20px;
  }
  .product-label.label-eco {
    font-size: 20px;
  }
  .product-label.label-gluten-free {
    font-size: 12px;
  }
  .product-label.label-sugar-free {
    font-size: 11px;
  }
  .product-label.label-vegan {
    font-size: 11px;
  }
  .product-label.label-no-artificial-coloring {
    font-size: 11px;
  }
  .product-label.label-no-perfume {
    font-size: 11px;
  }
  .product-label.label-no-preservatives {
    font-size: 11px;
  }
  .product-label.label-no-preservatives small {
    font-size: 0.7em;
  }
  .products-bundle .quantity-dropdown {
    width: 30%;
  }
  .products-bundle .fa-plus {
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, -15px);
    -ms-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
  }
  .products-bundle span.equals {
    display: none;
  }
  .products-bundle button.add-set {
    position: relative;
    max-width: 100%;
    left: 50%;
    right: auto;
    top: 0 !important;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .products-bundle .bundle-button {
    padding: 0 10px;
  }
  .products-bundle .bundle-button .btn {
    width: 100%;
  }
  .bundle-product-prices {
    background: white;
    border: none;
    border-radius: 0 0 6px;
    left: 11px;
    opacity: 0.8;
    overflow: hidden;
    padding: 5px 15px;
    position: absolute;
    top: 11px;
  }
  .bundle-product-prices .sale {
    margin-left: 0 !important;
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .product-label.label-bio {
    font-size: 20px;
  }
  .product-label.label-eco {
    font-size: 20px;
  }
  .product-label.label-gluten-free {
    font-size: 12px;
  }
  .product-label.label-sugar-free {
    font-size: 11px;
  }
  .product-label.label-vegan {
    font-size: 11px;
  }
  .product-label.label-no-artificial-coloring {
    font-size: 11px;
  }
  .product-label.label-no-perfume {
    font-size: 11px;
  }
  .product-label.label-no-preservatives {
    font-size: 11px;
  }
  .product-label.label-no-preservatives small {
    font-size: 0.7em;
  }
  .products-bundle .add-set {
    width: 135px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-label.label-bio {
    font-size: 20px;
  }
  .product-label.label-eco {
    font-size: 20px;
  }
  .product-label.label-gluten-free {
    font-size: 12px;
  }
  .product-label.label-sugar-free {
    font-size: 11px;
  }
  .product-label.label-vegan {
    font-size: 11px;
  }
  .product-label.label-no-artificial-coloring {
    font-size: 11px;
  }
  .product-label.label-no-perfume {
    font-size: 11px;
  }
  .product-label.label-no-preservatives {
    font-size: 11px;
  }
  .product-label.label-no-preservatives small {
    font-size: 0.7em;
  }
  .products-bundle .add-set {
    width: 120px;
  }
}
.page-wrapper {
  padding: 15px;
  background: #f6f6f6;
  border-radius: 4px;
  overflow: hidden;
}
.page-wrapper .page-header {
  margin: 0 0 15px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 9px;
}
.page-wrapper .page-header .page-title {
  font-size: 22px;
  margin: 0;
  padding: 0 0 5px;
  color: #604c8f;
}
.posts-wrapper {
  padding: 15px;
  background: #f6f6f6;
  border-radius: 4px;
}
.posts-wrapper .posts-header {
  margin: 0 0 15px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 9px;
}
.posts-wrapper .posts-header .posts-title {
  font-size: 22px;
  margin: 0;
  padding: 0 0 5px;
  color: #604c8f;
}
.posts-wrapper .posts {
  margin-bottom: 15px;
}
.posts-wrapper article {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 15px;
}
.posts-wrapper article .title {
  font-size: 20px;
  margin: 0 0 10px;
}
.posts-wrapper article .article-extras {
  font-style: italic;
  font-size: 11px;
  color: #999999;
}
.post-wrapper {
  padding: 15px;
  background: #f6f6f6;
  border-radius: 4px;
}
.post-wrapper .post-header {
  margin: 0 0 15px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 9px;
}
.post-wrapper .post-header .post-title {
  font-size: 22px;
  margin: 0;
  padding: 0 0 5px;
  color: #604c8f;
}
.post-wrapper a {
  color: #666666;
}
.post-wrapper .article-extras {
  font-style: italic;
  font-size: 11px;
  color: #999999;
}
.customer-login,
.recover-password {
  margin: 5px 0 15px;
}
.customer-login .forgot-password,
.recover-password .forgot-password {
  margin-top: 10px;
}
.customer-login .note > a,
.recover-password .note > a {
  text-decoration: underline;
}
.recover-password {
  display: none;
}
.customer-register {
  margin: 5px 0 15px;
}
.customer-register .account-type {
  overflow: hidden;
}
.customer-register .account-type .btn-group {
  display: block;
}
.customer-register .company-data {
  display: none;
}
.customer-register .action-bottom {
  margin-top: 30px;
}
.account-page .page-content .col-sm-9 {
  padding-left: 0;
}
.account-page .page-content .col-sm-3 {
  padding-right: 0;
}
.account-page .customer-details {
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.account-page .customer-details .customer-name {
  color: #604c8f;
  font-weight: bold;
  font-size: 15px;
}
.account-page .customer-details .customer-addresses {
  margin-top: 15px;
}
.account-page .customer-details p {
  margin-bottom: 5px;
}
.customer-details.customer-address {
  border: 1px solid #d7d7d7;
  height: 200px;
  padding-top: 10px;
}
.address-actions {
  bottom: 10px;
  position: absolute;
}
.new-address {
  position: absolute;
  right: 30px;
  top: 10px;
}
.checkout-process-status {
  height: 148px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  padding: 0 15px;
}
.checkout-process-status .glyphicon-ok {
  display: none;
  padding: 5px;
  border: 4px solid white;
  background-color: #18a62f;
  border-radius: 50%;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 10px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.checkout-process-status.step-2,
.checkout-process-status.step-3,
.checkout-process-status.step-4 {
  padding: 0;
}
.checkout-process-status.step-1 .cart,
.checkout-process-status.step-2 .address,
.checkout-process-status.step-3 .payment,
.checkout-process-status.step-4 .delivery {
  background-color: #dc9821;
  background-image: none;
}
.checkout-process-status.step-2 .cart,
.checkout-process-status.step-3 .cart,
.checkout-process-status.step-3 .address,
.checkout-process-status.step-4 .cart,
.checkout-process-status.step-4 .address,
.checkout-process-status.step-4 .payment {
  background-color: #18a62f;
  background-image: none;
}
.checkout-process-status.step-2 .cart .glyphicon-ok,
.checkout-process-status.step-3 .cart .glyphicon-ok,
.checkout-process-status.step-3 .address .glyphicon-ok,
.checkout-process-status.step-4 .cart .glyphicon-ok,
.checkout-process-status.step-4 .address .glyphicon-ok,
.checkout-process-status.step-4 .payment .glyphicon-ok {
  display: block;
}
.checkout-process-status .checkout-box {
  position: relative;
  width: 160px;
  height: 130px;
  background-color: #adadad;
  color: white;
  display: inline-block;
  float: left;
  margin-right: 10px;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.15) 10px, rgba(255, 255, 255, 0.15) 20px);
}
.checkout-process-status .checkout-box .checkout-box-title {
  font-size: 18px;
  position: absolute;
  right: 10px;
  text-transform: uppercase;
  top: 5px;
}
.checkout-process-status .checkout-box .checkout-box-number {
  bottom: -10px;
  font-size: 70px;
  font-weight: bold;
  left: 10px;
  position: absolute;
}
.checkout-process-status .checkout-box .checkout-box-description {
  bottom: 10px;
  font-size: 15px;
  max-width: 60%;
  position: absolute;
  right: 10px;
  text-align: right;
}
.checkout-process-status .checkout-box.delivery {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
.checkout-process-status .checkout-box.delivery .fa-truck {
  display: block;
  font-size: 40px;
  margin-top: 18px;
}
.checkout-page #main-navigation {
  margin-top: 100px;
}
.checkout-page .page-wrapper {
  border-radius: 0;
  overflow: visible;
}
.checkout-page .page-wrapper .btn-cart {
  font-size: 15px;
  font-weight: bold;
}
.checkout-page .table-responsive table td {
  vertical-align: middle !important;
}
.checkout-page .table-responsive .product-image {
  width: 60px;
  text-align: center;
}
.checkout-page .table-responsive .product-image img {
  float: none;
}
.checkout-page .table-responsive .product-price {
  text-align: center;
}
.checkout-page .table-responsive .product-quantity {
  text-align: center;
  width: 90px;
}
.checkout-page .table-responsive .product-quantity input {
  text-align: center;
  width: 45px;
  display: inline;
}
.checkout-page .table-responsive .product-amount {
  text-align: center;
}
.checkout-page .table-responsive .product-remove {
  width: 80px;
}
.checkout-page .table-responsive tfoot .product-amount {
  font-size: 14px;
  font-weight: bold;
}
.checkout-page .cart-products .product {
  height: auto !important;
}
.checkout-page .cart-products .product .product-inner {
  padding-bottom: 20px;
}
.checkout-page .cart-products .product .product-image {
  border: 5px solid #f6f6f6;
}
.checkout-page .cart-products .product .product-price span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.checkout-page .cart-products .product .product-buttons {
  margin-top: 10px;
}
.checkout-page .cart-products .cart-total {
  background-color: #f6f6f6;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 10px 15px;
}
.checkout-page .checkout-actions {
  margin-top: 20px;
}
.checkout-page .checkout-actions .user-notes {
  margin: -5px 0 5px;
}
.checkout-page .checkout-actions .user-notes-text {
  display: none;
  resize: vertical;
}
.checkout-page .customer-email {
  margin-top: 10px;
}
.checkout-page .page-wrapper {
  background: none;
  padding: 0;
}
.checkout-page .page-wrapper .new-order > div {
  background: #f6f6f6;
  border-radius: 4px;
  padding: 15px;
  margin: 0 0 20px;
}
.checkout-page .addresses .checkout-address {
  padding: 0;
}
.checkout-page .addresses .checkout-address .customer-address p {
  margin-bottom: 0;
}
.checkout-page .addresses .checkout-address .customer-address button {
  margin: 15px 0 20px;
}
.checkout-page .addresses .checkout-notes {
  padding: 0 0 0 15px;
}
.checkout-page .addresses .panel {
  padding: 10px 10px 5px;
}
.checkout-page .addresses .checkout-section-title {
  margin-bottom: 15px;
}
.checkout-page .new-customer-address {
  display: none;
}
.checkout-page .new-customer-address > .form-group {
  padding: 0 8px;
}
.checkout-page .new-customer-address > .form-group:nth-child(2n) {
  padding-left: 0;
}
.checkout-page .new-customer-address > .form-group:nth-child(2n+1) {
  padding-right: 0;
}
.checkout-page .new-customer-address .company-fields {
  display: none;
}
.checkout-page .new-customer-address .company-fields .form-group {
  padding: 0 8px;
}
.checkout-page .new-customer-address .company-fields .form-group:nth-child(2n+1) {
  padding-left: 0;
}
.checkout-page .new-customer-address .company-fields .form-group:nth-child(2n) {
  padding-right: 0;
}
.checkout-page .new-customer-address .checkbox label input {
  margin-top: 2px;
}
.checkout-page .alt-address {
  display: none;
}
.checkout-page label.checkout-section-title {
  font-size: 17px;
  color: #604c8f;
  padding-bottom: 5px;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}
.checkout-page .checkout-summary {
  text-align: left;
  font-size: 14px;
}
.checkout-page .checkout-summary > div > div {
  min-width: 200px;
}
.checkout-page .checkout-summary > div > * {
  padding-bottom: 5px;
}
.checkout-page .checkout-summary div {
  font-weight: bold;
}
.checkout-page .checkout-summary div > span {
  float: right;
  font-weight: normal;
}
.checkout-page .checkout-summary .total {
  border-top: 1px solid #d7d7d7;
  padding-top: 5px;
  margin-top: 5px;
}
.checkout-page .checkout-summary .total span {
  font-weight: bold;
}
.checkout-page .checkout-summary h1 {
  margin-top: 1px;
  font-size: 30px;
  font-weight: bold;
}
.checkout-page .payment-method .btn-group {
  margin: 10px 0 20px;
}
.checkout-page .payment-method .credit-card-data > div > .first-name {
  padding-right: 5px;
}
.checkout-page .payment-method .credit-card-data > div > .last-name {
  padding-left: 5px;
}
.checkout-page .payment-method .cc-code small {
  margin-top: 5px;
  display: block;
}
.checkout-page .payment-method .home-delivery,
.checkout-page .payment-method .direct-deposit {
  display: none;
}
@media (max-width: 767px) {
  .checkout-process-status {
    height: auto;
    overflow: hidden;
  }
  .checkout-process-status .checkout-box {
    border: 2px solid;
    height: 80px;
    margin-right: 0;
    width: 25%;
    text-align: center;
  }
  .checkout-process-status .checkout-box .checkout-box-number {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .checkout-process-status .checkout-box .glyphicon-ok {
    border: 3px solid white;
    font-size: 12px;
    left: -1px;
  }
  .checkout-page.step-2 .new-customer-address .form-group,
  .checkout-page.step-2 .credit-card-data .form-group {
    padding: 0 !important;
  }
  .checkout-page .payment-method label.btn.btn-primary {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .checkout-page .payment-method .credit-card-data > .first-name {
    padding-right: 0;
  }
  .checkout-page .payment-method .credit-card-data > .last-name {
    padding-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .checkout-page .payment-method .credit-card-data > .first-name {
    padding-right: 0;
  }
  .checkout-page .payment-method .credit-card-data > .last-name {
    padding-left: 0;
  }
}
.header-search-placeholder.open input {
  border-radius: 4px 4px 0 0;
}
.search-dropdown {
  list-style: none;
  border-radius: 0 0 4px 4px;
  border: 1px solid #cccccc;
  background-color: white;
  padding: 15px 0;
  position: absolute;
  z-index: 1000;
  margin-top: -1px;
}
.search-dropdown li {
  margin: 5px 0;
}
.search-dropdown li a {
  display: block;
  padding-top: 10px;
  border-top: 1px solid #cccccc;
}
.search-dropdown li:first-child a,
.search-dropdown li:nth-child(2) a {
  padding-top: 0;
  border-top: none;
}
.search-dropdown .search_result_price {
  padding: 0 10px;
  text-align: center;
  width: 110px;
}
