.btn-primary {
  color: #ffffff;
  background-color: #604c8f;
  border-color: #55437e;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #4e3e74;
  border-color: #3a2e56;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #604c8f;
  border-color: #55437e;
}
.btn-primary .badge {
  color: #604c8f;
  background-color: #ffffff;
}
.btn-default {
  color: #ffffff;
  background-color: #999999;
  border-color: #8c8c8c;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #858585;
  border-color: #6e6e6e;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #999999;
  border-color: #8c8c8c;
}
.btn-default .badge {
  color: #999999;
  background-color: #ffffff;
}
.btn-cart {
  color: white;
  background: #d9534f;
  border-color: #d43f3a;
}
.btn-cart.no-items {
  color: white;
  background-color: #999999;
  border-color: #8c8c8c;
}
.btn-cart:hover,
.btn-cart:focus,
.btn-cart:active,
.btn-cart.active,
.open .dropdown-toggle.btn-cart {
  color: white;
  background-color: #6db038;
  border-color: #619d32;
}
.btn-add-to-cart {
  color: white;
  background: #604c8f;
  border-color: #55437e;
}
.btn-add-to-cart:hover,
.btn-add-to-cart:focus,
.btn-add-to-cart:active,
.btn-add-to-cart.active,
.open .dropdown-toggle.btn-add-to-cart {
  color: white;
  background-color: #6db038;
  border-color: #619d32;
}
body {
  color: #666666;
  font-size: 13px;
  border-top: 4px solid #eeeeee;
}
a,
a:visited {
  outline: 0 !important;
  color: #333333;
}
a:hover,
a:visited:hover {
  color: #6db038 !important;
  text-decoration: none;
}
.no-padding {
  padding: 0;
}
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
h1,
h2,
h3,
h4 {
  font-family: "Trebuchet MS", sans-serif;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: #666666;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  margin: 5px 0 10px;
}
.ribbon {
  background: #604c8f;
  font-size: 12px;
  margin-left: -5px;
  margin-top: 10px;
  padding: 3px 30px 3px 10px;
  position: absolute;
  text-transform: uppercase;
  max-width: 100%;
  color: white;
}
.ribbon .ribbon-content:before {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #000000 transparent transparent;
  bottom: -5px;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 5px 0 0 5px;
}
.border-bottom {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 20px;
}
.pagination-wrapper {
  margin-bottom: 30px;
}
.pagination-wrapper .pagination {
  margin-bottom: 5px;
}
.pagination-wrapper .pagination .active:hover a,
.pagination-wrapper .pagination .active a:hover {
  color: white !important;
}
header {
  position: relative;
}
.logo-container {
  padding: 0 20px;
  margin: 0 0 20px;
}
.cart-area {
  position: absolute;
  right: 15px;
  top: -3px;
  padding: 0 10px;
  background: #eeeeee;
  border-radius: 0 0 6px 6px;
}
.cart-area ul {
  list-style: none;
  padding: 0;
}
.cart-area ul li {
  border-right: 1px solid #cccccc;
  float: left;
  font-size: 16px;
  font-weight: normal;
  margin: 4px 12px 0 0;
  padding: 6px 12px 5px 0;
}
.cart-area ul li.checkout-link {
  border: medium none;
  margin: 4px 0;
  padding: 0;
}
.cart-area ul li a {
  color: #666666;
}
.cart-area ul li a.btn-cart,
.cart-area ul li a.btn-cart:hover {
  color: white !important;
}
.header-search-placeholder {
  padding-right: 55px;
  padding-left: 20px;
}
.header-search-placeholder #top-search-input {
  position: relative;
  z-index: 10;
  height: 30px;
  font-size: 12px;
}
.header-search-placeholder button {
  background: #444444;
  position: absolute;
  right: 15px;
  top: 0;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  padding: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.header-search-placeholder button:hover {
  color: white;
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-search-placeholder button.active,
.header-search-placeholder button:active {
  box-shadow: none;
}
.sidebar h2 {
  color: #333333;
  margin: 5px 0 10px;
}
.sidebar .banner {
  margin-bottom: 10px;
}
.sidebar .banner.guarantee {
  background: #f6f6f6;
  text-align: center;
  padding: 10px 0;
}
.sidebar .banner.guarantee img {
  max-width: 80%;
}
.sidebar .banner.ask {
  border: 1px solid #d7d7d7;
  padding: 5px 0;
  text-align: center;
}
.sidebar .banner.ask button {
  margin-top: 4px;
}
.sidebar .widget {
  margin-bottom: 10px;
}
.sidebar .widget .widget-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .widget .widget-content ul li {
  border-top: 1px dotted #cccccc;
  margin-top: 8px;
  padding-top: 8px;
}
.sidebar .widget .widget-content ul li:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.sidebar .widget .widget-content ul li i {
  color: #cccccc;
}
.sidebar .widget .widget-content ul li a {
  margin-left: 3px;
  text-decoration: underline !important;
}
.sidebar .widget-mailing-list {
  margin: 40px 0;
}
.sidebar .widget-mailing-list button {
  margin-top: 5px;
}
footer {
  margin-top: 30px;
}
footer .footer-top {
  overflow: hidden;
  padding-bottom: 0;
}
footer .footer-left {
  font-size: 11px;
  color: #999999;
  padding: 0 5px;
}
footer .footer-left a {
  color: #999999;
  text-decoration: underline;
}
footer .footer-left ul.footer-nav {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
}
footer .footer-left ul.footer-nav li {
  border-left: 1px solid #999999;
  float: left;
  margin-left: 10px;
  padding-left: 10px;
}
footer .footer-left ul.footer-nav li:first-child {
  border-left: none;
  margin: 0;
  padding: 0;
}
footer .footer-right {
  padding: 0 5px;
}
footer .footer-right ul.social-icons {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  text-align: right;
}
footer .footer-right ul.social-icons li {
  background: #444444;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
  font-size: 20px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
footer .footer-right ul.social-icons li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
footer .footer-right ul.social-icons li a {
  color: white;
}
footer .footer-right ul.social-icons li a:hover {
  color: white !important;
}
footer .footer-payment-methods {
  text-transform: uppercase;
  font-size: 11px;
  color: #999999;
  padding-top: 15px;
  margin-bottom: 50px;
}
footer .footer-payment-methods p {
  margin-bottom: 5px;
}
.featured-products {
  margin-bottom: 30px;
}
.product {
  padding: 0 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.product .product-inner {
  background: #f6f6f6;
  border-radius: 0 0 4px 4px;
}
.product .product-inner.with-rating {
  padding-bottom: 50px;
}
.product .product-image {
  background: white;
  border-color: #f6f6f6;
  border-style: solid solid none solid;
  border-width: 1px;
  text-align: center;
}
.product .product-image .img-responsive {
  display: inline;
}
.product .product-information {
  font-size: 13px;
  padding: 10px;
  position: relative;
}
.product .product-information .product-price {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 4px 0 0;
  color: #666666;
  font-size: 14px;
  padding: 6px 10px;
  position: absolute;
  right: 1px;
  top: -26px;
}
.product .product-information .product-price small {
  font-size: 85%;
}
.product .product-information .product-price.sale {
  background: #444444;
  color: white;
}
.product .product-information .product-price.sale small {
  color: white;
}
.rating-wrapper {
  position: absolute;
  bottom: 10px;
  height: 37px;
  left: 15px;
}
.rating-wrapper .star-rating {
  display: block;
  font-size: 16px;
}
.rating-wrapper .star-rating-caption {
  display: block;
  margin-top: -5px;
}
.collection {
  padding: 0 5px;
  margin-bottom: 10px;
}
.collection .collection-image img {
  width: 100%;
}
.collection .collection-information {
  background: #f6f6f6;
  border-radius: 0 0 4px 4px;
  padding: 10px;
}
.collection .collection-information a {
  display: block;
}
.category-details .category-description {
  background: #f6f6f6;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 10px 15px 5px;
}
.product-wrapper {
  padding: 15px;
  background: #f6f6f6;
  border-radius: 4px;
}
.product-wrapper .ribbon {
  margin-left: 0;
  z-index: 10;
}
.product-wrapper #active-wrapper {
  position: relative;
  width: 100%;
  background: white;
  overflow: hidden;
  margin: 0 0 10px 0;
  border-width: 0 5px;
  border-style: none solid;
  border-color: #f6f6f6;
}
.product-wrapper #active-wrapper img {
  display: block;
}
.product-wrapper #active-wrapper img.unzoomed {
  position: absolute;
  display: block;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-wrapper #active-wrapper img.zoomed {
  position: absolute;
  top: 0;
  left: 0;
}
.product-wrapper .product-thumbs {
  list-style: none;
  padding: 0;
}
.product-wrapper .product-thumbs li {
  position: relative;
  padding: 0 5px;
  margin-bottom: 10px;
}
.product-wrapper .product-thumbs li.active-thumb a,
.product-wrapper .product-thumbs li:hover a {
  border-color: #6db038;
}
.product-wrapper .product-thumbs li a {
  border: 1px solid #d7d7d7;
  background: none repeat scroll 0 0 white;
  display: block;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}
.product-wrapper .product-thumbs li a img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-wrapper .product-information {
  padding-right: 5px;
}
.product-wrapper .product-header {
  overflow: hidden;
  margin-bottom: 20px;
}
.product-wrapper .product-header-title {
  padding-left: 0;
}
.product-wrapper .product-header-title .product-title {
  font-size: 18px;
  font-weight: bold;
  color: #604c8f;
  margin-top: 0;
  margin-bottom: 5px;
}
.product-wrapper .product-header-title .product-vendor {
  font-size: 12px;
  margin-top: 0;
}
.product-wrapper .purchase {
  margin-top: 18px;
}
.product-wrapper .purchase .price {
  font-size: 24px;
  color: #6db038;
}
.product-wrapper .vendor-message {
  background: #604c8f;
  color: white;
  border: none;
}
.product-wrapper .tabs-wrapper {
  padding: 0 5px;
}
.product-wrapper .tabs-wrapper .nav-tabs li.active {
  position: relative;
  z-index: 20;
}
.product-wrapper .tabs-wrapper .nav-tabs li.active a {
  border-bottom: none;
}
.product-wrapper .tab-content {
  position: relative;
  z-index: 10;
  background: white;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  padding: 10px 15px 5px;
  margin-top: -2px;
}
.product-wrapper .product-reviews-header-title {
  font-size: 24px;
  font-weight: bold;
  color: #604c8f;
  margin-top: 0;
  margin-bottom: 12px;
}
.product-wrapper .product-reviews-summary {
  overflow: hidden;
  margin-bottom: 10px;
}
.product-wrapper .product-reviews {
  margin-top: 20px;
  display: none;
}
.product-wrapper .product-review {
  border-top: 1px solid #d7d7d7;
  padding: 15px 0;
}
.product-wrapper .product-review .product-review-header-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #604c8f;
}
.product-wrapper .product-review .product-review-header-byline {
  font-style: italic;
}
.product-wrapper .product-review .product-review-content {
  margin: 15px 0;
}
.product-wrapper .product-review .product-review-footer {
  text-align: right;
  font-size: 11px;
}
.product-wrapper .product-review .product-review-footer a {
  text-decoration: underline;
}
.product-wrapper .review-form {
  border-top: 1px solid #d7d7d7;
  padding: 15px 0;
  margin-top: 20px;
  display: none;
}
.product-wrapper .review-form .review-form-title {
  font-size: 16px;
  line-height: 24px;
  color: #604c8f;
}
.product-wrapper .review-form .review-form-review-body textarea {
  resize: vertical;
}
.product-wrapper .review-form .review-rate-product {
  font-size: 20px;
}
.product-wrapper .review-form .review-rate-product i {
  cursor: pointer;
}
.product-text-box {
  border: 1px solid #d7d7d7;
  margin: 10px 0;
  padding: 15px 15px 5px;
}
.related-products {
  margin: 30px 0;
}
.page-wrapper {
  padding: 15px;
  background: #f6f6f6;
  border-radius: 4px;
  overflow: hidden;
}
.page-wrapper .page-header {
  margin: 0 0 15px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 9px;
}
.page-wrapper .page-header .page-title {
  font-size: 22px;
  margin: 0;
  padding: 0 0 5px;
  color: #604c8f;
}
.posts-wrapper {
  padding: 15px;
  background: #f6f6f6;
  border-radius: 4px;
}
.posts-wrapper .posts-header {
  margin: 0 0 15px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 9px;
}
.posts-wrapper .posts-header .posts-title {
  font-size: 22px;
  margin: 0;
  padding: 0 0 5px;
  color: #604c8f;
}
.posts-wrapper .posts {
  margin-bottom: 15px;
}
.posts-wrapper article {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 15px;
}
.posts-wrapper article .title {
  font-size: 20px;
  margin: 0 0 10px;
}
.posts-wrapper article .article-extras {
  font-style: italic;
  font-size: 11px;
  color: #999999;
}
.post-wrapper {
  padding: 15px;
  background: #f6f6f6;
  border-radius: 4px;
}
.post-wrapper .post-header {
  margin: 0 0 15px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 9px;
}
.post-wrapper .post-header .post-title {
  font-size: 22px;
  margin: 0;
  padding: 0 0 5px;
  color: #604c8f;
}
.post-wrapper a {
  color: #666666;
}
.post-wrapper .article-extras {
  font-style: italic;
  font-size: 11px;
  color: #999999;
}
.customer-login,
.recover-password {
  margin: 5px 0 15px;
}
.customer-login .forgot-password,
.recover-password .forgot-password {
  margin-top: 10px;
}
.customer-login .note > a,
.recover-password .note > a {
  text-decoration: underline;
}
.recover-password {
  display: none;
}
.customer-register {
  margin: 5px 0 15px;
}
.customer-register .account-type {
  overflow: hidden;
}
.customer-register .account-type .btn-group {
  display: block;
}
.customer-register .company-data {
  display: none;
}
.customer-register .action-bottom {
  margin-top: 30px;
}
.account-page .customer-details {
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.account-page .customer-details .customer-name {
  color: #604c8f;
  font-weight: bold;
  font-size: 15px;
}
.account-page .customer-details .customer-addresses {
  margin-top: 15px;
}
.account-page .customer-details p {
  margin-bottom: 5px;
}
.checkout-process-status {
  height: 148px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}
.checkout-process-status > div {
  position: relative;
  width: 100%;
}
.checkout-process-status img {
  position: absolute;
  left: 0;
  top: 0;
}
.checkout-process-status.step-1 {
  padding: 0 15px;
}
.checkout-process-status.step-2 img {
  top: -158px;
}
.checkout-process-status.step-3 img {
  top: -316px;
}
.checkout-process-status.step-4 img {
  top: -474px;
}
.checkout-page .table-responsive {
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}
.checkout-page .table-responsive table {
  margin-bottom: 0;
}
.checkout-page .table-responsive table td {
  vertical-align: middle !important;
}
.checkout-page .table-responsive .product-image {
  width: 60px;
  text-align: center;
}
.checkout-page .table-responsive .product-image img {
  float: none;
}
.checkout-page .table-responsive .product-price {
  text-align: center;
}
.checkout-page .table-responsive .product-quantity {
  text-align: center;
  width: 90px;
}
.checkout-page .table-responsive .product-quantity input {
  text-align: center;
  width: 45px;
  display: inline;
}
.checkout-page .table-responsive .product-amount {
  text-align: center;
}
.checkout-page .table-responsive .product-remove {
  width: 80px;
}
.checkout-page .checkout-actions {
  margin-top: 20px;
}
.checkout-page .checkout-actions .user-notes {
  margin: -5px 0 5px;
}
.checkout-page .checkout-actions .user-notes-text {
  display: none;
  resize: vertical;
}
.checkout-page.step-2 .cart-area,
.checkout-page.step-3 .cart-area,
.checkout-page.step-2 .header-search-placeholder,
.checkout-page.step-3 .header-search-placeholder {
  display: none;
}
.checkout-page.step-2 .page-wrapper,
.checkout-page.step-3 .page-wrapper {
  background: none;
  padding: 0;
}
.checkout-page.step-2 .page-wrapper .new-order > div,
.checkout-page.step-3 .page-wrapper .new-order > div {
  background: #f6f6f6;
  border-radius: 4px;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 20px;
}
.checkout-page.step-2 .addresses .checkout-address,
.checkout-page.step-3 .addresses .checkout-address {
  padding: 0 15px 0 0;
  border-right: 1px solid #d7d7d7;
}
.checkout-page.step-2 .addresses .checkout-notes,
.checkout-page.step-3 .addresses .checkout-notes {
  padding: 0 0 0 15px;
}
.checkout-page.step-2 .addresses .panel,
.checkout-page.step-3 .addresses .panel {
  padding: 10px 10px 5px;
}
.checkout-page.step-2 .addresses .checkout-section-title,
.checkout-page.step-3 .addresses .checkout-section-title {
  margin-bottom: 15px;
}
.checkout-page.step-2 .alt-address,
.checkout-page.step-3 .alt-address {
  display: none;
}
.checkout-page label.checkout-section-title {
  font-size: 17px;
  color: #604c8f;
  padding-bottom: 5px;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}
.checkout-page .checkout-summary {
  text-align: center;
}
.checkout-page .checkout-summary > * {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 10px;
}
.checkout-page .checkout-summary h1 {
  margin-top: 1px;
  font-size: 30px;
  font-weight: bold;
}
.checkout-page .payment-method .btn-group {
  margin: 10px 0 20px;
}
.checkout-page .payment-method .credit-card-data > .first-name {
  padding-right: 5px;
}
.checkout-page .payment-method .credit-card-data > .last-name {
  padding-left: 5px;
}
.checkout-page .payment-method .cc-code small {
  margin-top: 5px;
  display: block;
}
@media (max-width: 767px) {
  .checkout-page .payment-method .credit-card-data > .first-name {
    padding-right: 0;
  }
  .checkout-page .payment-method .credit-card-data > .last-name {
    padding-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .checkout-page .payment-method .credit-card-data > .first-name {
    padding-right: 0;
  }
  .checkout-page .payment-method .credit-card-data > .last-name {
    padding-left: 0;
  }
}
