.account-page {
  .customer-details {
    margin-bottom: 15px;
    padding-bottom: 10px;
    .customer-name {
      color: @purple;
      font-weight: bold;
      font-size: 15px;
    }
    p {
      margin-bottom: 5px;
    }
  }
}