.collection-details {
  .collection-description {
    background: @gray-lighter;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 10px 15px 15px;
    overflow: hidden;
    .collection-link {
      background: none repeat scroll 0 0 white;
      border: 5px solid @gray-lighter;
      font-size: 12px;
      overflow: hidden;
      padding: 10px 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.sorting-filtering {
    margin-bottom: 20px;
}
.filtering-dropdown {
  margin-left: 10px;
}
.filters {
  margin: 0 10px;
  .price-range-slider, .min-price-slider, .max-price-slider {
    display: none;
    margin-top: 7px;
  }
  .brand-dropdown {
    display: none;
  }
  .glyphicon.glyphicon-remove {
    background: none repeat scroll 0 0 #ddd;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    margin-left: 2px;
    padding: 4px;
    text-align: center;
  }
}