.checkout-process-status {
  height: 148px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  padding: 0 15px;
  .glyphicon-ok {
    display: none;
    padding: 5px;
    border: 4px solid white;
    background-color: #18a62f;
    border-radius: 50%;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 10px;
    .translate(0, -50%);
  }
  &.step-2, &.step-3, &.step-4 {
    padding: 0;
  }
  &.step-1 .cart, &.step-2 .address, &.step-3 .payment, &.step-4 .delivery {
    background-color: #dc9821;
    background-image: none;
  }
  &.step-2 .cart,
  &.step-3 .cart, &.step-3 .address,
  &.step-4 .cart, &.step-4 .address, &.step-4 .payment {
    background-color: #18a62f;
    background-image: none;
    .glyphicon-ok {
      display: block;
    }
  }
  .checkout-box {
    position: relative;
    width: 160px;
    height: 130px;
    background-color: #adadad;
    color: white;
    display: inline-block;
    float: left;
    margin-right: 10px;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255,255,255,.15) 10px, rgba(255,255,255,.15) 20px);
    .checkout-box-title {
      font-size: 18px;
      position: absolute;
      right: 10px;
      text-transform: uppercase;
      top: 5px;
    }
    .checkout-box-number {
      bottom: -10px;
      font-size: 70px;
      font-weight: bold;
      left: 10px;
      position: absolute;
    }
    .checkout-box-description {
      bottom: 10px;
      font-size: 15px;
      max-width: 60%;
      position: absolute;
      right: 10px;
      text-align: right;
    }
    &.delivery {
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      .fa-truck {
        display: block;
        font-size: 40px;
        margin-top: 18px;
      }
    }
  }
}
.checkout-page {
  #main-navigation {
    margin-top: 100px;
  }
  .page-wrapper {
    border-radius: 0;
    overflow: visible;
    .btn-cart {
      font-size: 15px;
      font-weight: bold;
    }
  }
  .table-responsive {
    table {
      td {
        vertical-align: middle !important;
      }
    }
    .product-image {
      width: 60px;
      text-align: center;
      img {
        float: none;
      }
    }
    .product-price {
      text-align: center;
    }
    .product-quantity {
      text-align: center;
      width: 90px;
      input {
        text-align: center;
        width: 45px;
        display: inline;
      }
    }
    .product-amount {
      text-align: center;
    }
    .product-remove {
      width: 80px;
    }
    tfoot .product-amount {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .cart-products {
    .product {
      height: auto !important;
      .product-inner {
        padding-bottom: 20px;
      }
      .product-image {
        border: 5px solid @gray-lighter;
      }
      .product-price {
        span {
          display: block;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .product-buttons {
        margin-top: 10px;
      }
    }
    .cart-total {
      background-color: @gray-lighter;
      border-radius: 4px;
      font-size: 20px;
      margin-bottom: 15px;
      padding: 10px 15px;
    }
  }
  .checkout-actions {
    margin-top: 20px;
    .user-notes {
      margin: -5px 0 5px;
    }
    .user-notes-text {
      display: none;
      resize: vertical;
    }
  }

  .customer-email {
    margin-top: 10px;
  }

  .page-wrapper {
    background: none;
    padding: 0;
    .new-order > div {
      background: @gray-lighter;
      border-radius: 4px;
      padding: 15px;
      margin: 0 0 20px;
    }
  }
  .addresses {
    .checkout-address {
      padding: 0;
      .customer-address {
        p {
          margin-bottom: 0;
        }
        button {
          margin: 15px 0 20px;
        }
      }
    }
    .checkout-notes {
      padding: 0 0 0 15px;
    }
    .panel {
      padding: 10px 10px 5px;
    }
    .checkout-section-title {
      margin-bottom: 15px;
    }
  }
  .new-customer-address {
    display: none;
    > .form-group {
      padding: 0 8px;
      &:nth-child(2n) {
        padding-left: 0;
      }
      &:nth-child(2n+1) {
        padding-right: 0;
      }
    }
    .company-fields {
      display: none;
      .form-group{
        padding: 0 8px;
        &:nth-child(2n+1) {
          padding-left: 0;
        }
        &:nth-child(2n) {
          padding-right: 0;
        }
      }
    }
    .checkbox label input {
      margin-top: 2px;
    }
  }
  .alt-address {
    display: none;
  }
  label.checkout-section-title {
    font-size: 17px;
    color: @purple;
    padding-bottom: 5px;
    border-bottom: 1px solid @border-color;
    width: 100%;
  }

  .checkout-summary {
    text-align: left;
    font-size: 14px;
    > div {
      > div {
        min-width: 200px;
      }
      > * {
        padding-bottom: 5px;
      }
    }
    div {
      font-weight: bold;
      > span {
        float: right;
        font-weight: normal;
      }
    }
    .total {
      border-top: 1px solid @border-color;
      padding-top: 5px;
      margin-top: 5px;
      span {
        font-weight: bold;
      }
    }
    h1 {
      margin-top: 1px;
      font-size: 30px;
      font-weight: bold;
    }
  }

  .payment-method {
    .btn-group {
      margin: 10px 0 20px;
    }
    .credit-card-data > div {
      > .first-name {
        padding-right: 5px;
      }
      > .last-name {
        padding-left: 5px;
      }
    }
    .cc-code {
      small {
        margin-top: 5px;
        display: block;
      }
    }
    .home-delivery, .direct-deposit {
      display: none;
    }
  }
}

@media @extra-small {
  .checkout-process-status {
    height: auto;
    overflow: hidden;
    .checkout-box {
      border: 2px solid;
      height: 80px;
      margin-right: 0;
      width: 25%;
      text-align: center;
      .checkout-box-number {
        left: 50%;
        .translate(-50%, 0);
      }
      .glyphicon-ok {
        border: 3px solid white;
        font-size: 12px;
        left: -1px;
      }
    }
  }
  .checkout-page.step-2 {
    .new-customer-address .form-group, .credit-card-data .form-group {
      padding: 0 !important;
    }
  }
  .checkout-page .payment-method {
    label.btn.btn-primary {
      font-size: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .credit-card-data {
      > .first-name {
        padding-right: 0;
      }
      > .last-name {
        padding-left: 0;
      }
    }
  }
}

@media @small {
  .checkout-page .payment-method {
    .credit-card-data {
      > .first-name {
        padding-right: 0;
      }
      > .last-name {
        padding-left: 0;
      }
    }
  }
}