.checkout-process-status {
  height: 148px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  padding: 0 15px;
  &.step-2, &.step-3, &.step-4 {
    padding: 0;
  }
  &.step-1 .cart, &.step-2 .address, &.step-3 .payment, &.step-4 .delivery {
    background-color: #dc9821;
  }
  .checkout-box {
    position: relative;
    width: 160px;
    height: 130px;
    background-color: #adadad;
    color: white;
    display: inline-block;
    float: left;
    margin-right: 10px;
    .checkout-box-title {
      font-size: 18px;
      position: absolute;
      right: 10px;
      text-transform: uppercase;
      top: 5px;
    }
    .checkout-box-number {
      bottom: -10px;
      font-size: 70px;
      font-weight: bold;
      left: 10px;
      position: absolute;
    }
    .checkout-box-description {
      bottom: 10px;
      font-size: 15px;
      max-width: 60%;
      position: absolute;
      right: 10px;
      text-align: right;
    }
    &.delivery {
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      .fa-truck {
        display: block;
        font-size: 40px;
        margin-top: 18px;
      }
    }
  }
}
.checkout-page {
  .page-wrapper {
    border-radius: 0;
    .btn-cart {
      font-size: 15px;
      font-weight: bold;
    }
  }
  &.step-2, &.step-3, &.step-4 {
    padding-top: 100px;
  }
  .table-responsive {
    table {
      td {
        vertical-align: middle !important;
      }
    }
    .product-image {
      width: 60px;
      text-align: center;
      img {
        float: none;
      }
    }
    .product-price {
      text-align: center;
    }
    .product-quantity {
      text-align: center;
      width: 90px;
      input {
        text-align: center;
        width: 45px;
        display: inline;
      }
    }
    .product-amount {
      text-align: center;
    }
    .product-remove {
      width: 80px;
    }
    tfoot .product-amount {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .checkout-actions {
    margin-top: 20px;
    .user-notes {
      margin: -5px 0 5px;
    }
    .user-notes-text {
      display: none;
      resize: vertical;
    }
  }

  &.step-2 .customer-email {
    margin-top: 10px;
  }

  &.step-2, &.step-3 {
    .cart-area, .header-search-placeholder {
      display: none;
    }
    .sidebar {
      position: fixed;
      right: 20px;
    }
    .page-wrapper {
      background: none;
      padding: 0;
      .new-order > div {
        background: @gray-lighter;
        border-radius: 4px;
        padding: 15px;
        margin: 0 0 20px;
      }
    }
    .addresses {
      .checkout-address {
        padding: 0;
        .customer-address {
          p {
            margin-bottom: 0;
          }
          button {
            margin: 15px 0 20px;
          }
        }
        .new-customer-address {
          display: none;
          > .form-group {
            padding: 0 8px;
            &:nth-child(2n) {
              padding-left: 0;
            }
            &:nth-child(2n+1) {
              padding-right: 0;
            }
          }
          .company-fields {
            display: none;
            .form-group{
              padding: 0 8px;
              &:nth-child(2n+1) {
                padding-left: 0;
              }
              &:nth-child(2n) {
                padding-right: 0;
              }
            }
          }
          .checkbox label input {
            margin-top: 2px;
          }
        }
      }
      .checkout-notes {
        padding: 0 0 0 15px;
      }
      .panel {
        padding: 10px 10px 5px;
      }
      .checkout-section-title {
        margin-bottom: 15px;
      }
    }
    .alt-address {
      display: none;
    }
  }
  label.checkout-section-title {
    font-size: 17px;
    color: @purple;
    padding-bottom: 5px;
    border-bottom: 1px solid @border-color;
    width: 100%;
  }

  .checkout-summary {
    text-align: center;
    > * {
      border-bottom: 1px solid @border-color;
      padding-bottom: 10px;
    }
    h1 {
      margin-top: 1px;
      font-size: 30px;
      font-weight: bold;
    }
  }

  .payment-method {
    .btn-group {
      margin: 10px 0 20px;
    }
    .credit-card-data > div {
      > .first-name {
        padding-right: 5px;
      }
      > .last-name {
        padding-left: 5px;
      }
    }
    .cc-code {
      small {
        margin-top: 5px;
        display: block;
      }
    }
    .home-delivery, .direct-deposit {
      display: none;
    }
  }
}

@media @extra-small {
  .checkout-process-status {
    height: auto;
    .checkout-box {
      border: 2px solid;
      height: 80px;
      margin-right: 0;
      width: 25%;
      text-align: center;
      .checkout-box-number {
        left: 50%;
        .translate(-50%, 0);
      }
    }
  }
  .checkout-page.step-2 {
    .new-customer-address .form-group, .credit-card-data .form-group {
      padding: 0 !important;
    }
  }
  .checkout-page .payment-method {
    label.btn.btn-primary {
      font-size: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .credit-card-data {
      > .first-name {
        padding-right: 0;
      }
      > .last-name {
        padding-left: 0;
      }
    }
  }
}

@media @small {
  .checkout-page .payment-method {
    .credit-card-data {
      > .first-name {
        padding-right: 0;
      }
      > .last-name {
        padding-left: 0;
      }
    }
  }
}