.product-wrapper {
  padding: 15px;
  background: @gray-lighter;
  border-radius: 4px;

  .ljekarnik-count-down {
    background-color: #4088cf;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-bottom: 10px;
  }
  #active-wrapper{
    position: relative;
    width: 100%;
    background: white;
    overflow: hidden;
    margin: 0 0 10px 0;
    border-width: 0 5px;
    border-style: none solid;
    border-color: @gray-lighter;
    img{
      display: block;
      &.unzoomed {
        position: absolute;
        display: block;
        top: 50% !important;
        left: 50% !important;
        .translate(-50%, -50%);
      }
      &.zoomed{
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    #active-image-loading{
    }
  }
  .product-thumbs {
    list-style: none;
    padding: 0;
    li {
      position: relative;
      padding: 0 5px;
      margin-bottom: 10px;
      &.active-thumb a, &:hover a {
        border-color: @green;
      }
      a {
        border: 1px solid @border-color;
        background: none repeat scroll 0 0 white;
        display: block;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          .translate(-50%, -50%);
        }
      }
    }
  }

  .product-information {
    padding-right: 5px;
    .product-header-title {
      margin-bottom: 0;
      .product-title {
        font-size: 24px;
      }
    }
  }
  .product-header {
    overflow: hidden;
    margin-bottom: 20px;
  }
  .product-header-title {
    margin-bottom: 10px;
    padding-left: 0;
    .product-title {
      font-size: 18px;
      font-weight: bold;
      color: @purple;
      margin-top: 0;
      margin-bottom: 5px;
    }
    .product-vendor {
      font-size: 12px;
      margin-top: 0;
    }
    .purchase {
      margin-top: 8px;
    }
  }
  .purchase {
    margin-top: 18px;
    .price {
      font-size: 24px;
      color: @green;
      margin-bottom: 0;
    }
    .compare-at-price {
      margin-bottom: 10px;
      display: block;
    }
  }

  .vendor-message {
    background: @purple;
    color: white;
    border: none;
  }

  .tabs-wrapper {
    padding: 0 5px;
    .nav-tabs li.active {
      position: relative;
      z-index: 20;
      a {
        border-bottom: none;
      }
    }
  }

  .tab-content {
    position: relative;
    z-index: 10;
    background: white;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 10px 15px 5px;
    margin-top: -2px;
  }

  .accordion-wrapper {
    .panel-heading {
      padding: 0;
    }
    .panel-title a {
      display: block;
      width: 100%;
      padding: 10px 15px;
    }
  }

  .product-reviews-header-title {
    font-size: 24px;
    font-weight: bold;
    color: @purple;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .product-reviews-summary {
    overflow: hidden;
    margin-bottom: 10px;
  }

  .product-reviews {
    margin-top: 20px;
    display: none;
  }
  .product-review {
    border-top: 1px solid @border-color;
    padding: 15px 0;
    .product-review-header-title {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
      color: @purple;
    }
    .product-review-header-byline {
      font-style: italic;
    }
    .product-review-content {
      margin: 15px 0;
    }
    .product-review-footer {
      text-align: right;
      font-size: 11px;
      a {
        text-decoration: underline;
      }
    }
  }

  .review-form {
    border-top: 1px solid @border-color;
    padding: 15px 0;
    margin-top: 20px;
    display: none;
    .review-form-title {
      font-size: 16px;
      line-height: 24px;
      color: @purple;
    }
    .review-form-review-body textarea {
      resize: vertical;
    }
    .review-rate-product {
      font-size: 20px;
      i {
        cursor: pointer;
      }
    }
  }
  .delivery {
    position: relative;
    margin: 10px 0;
    p {
      padding-left: 40px;
      margin: 0;
    }
    .fa-truck {
      font-size: 24px;
      left: 16px;
      position: absolute;
      top: 50%;
      .translate(0, -50%);
    }
  }
  .installment-payment {
    p {
      padding-left: 40px;
    }
    .fa-credit-card {
      font-size: 24px;
      left: 15px;
      position: absolute;
      top: 50%;
      .translate(0, -50%);
    }
    strong {
      color: @purple;
    }
  }

  .table-responsive {
    table {
      margin-bottom: 2px;
    }
    th.product-actions, td.product-actions {
      text-align: center;
      width: 40px;
    }
    th.product-discount, td.product-discount {
      text-align: center;
    }
    .fa-plus-circle {
      color: @purple;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.product-text-box {
  border: 1px solid #d7d7d7;
  margin: 10px 0;
  padding: 15px 15px 5px;
}

.related-products {
  margin: 30px 0;
}

.product-labels {
  margin: 15px 0 20px;
  overflow: hidden;
}
.product-label {
  width: 16.66%;
  height: 0;
  padding: 0 0 16.66%;
  float: left;
  border: 1px solid @gray-lighter;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
    padding: 0 5%;
    width: 100%;
  }
  &.label-bio {
    background: #009933;
    font-size: 30px;
    color: white;
  }
  &.label-eco {
    background: #669933;
    font-size: 30px;
    color: white;
  }
  &.label-gluten-free {
    background: #cc6633;
    color: white;
  }
  &.label-sugar-free {
    background: #ffcc33;
    color: @gray-darker;
  }
  &.label-vegan {
    background: #3366cc;
    color: white;
  }
  &.label-no-artificial-coloring {
    background: #33cccc;
    color: @gray-darker;
  }
  &.label-no-perfume {
    background: #660033;
    color: white;
  }
  &.label-no-preservatives {
    background: #cc3300;
    color: white;
    small {
      font-size: 0.8em;
    }
  }
}

.products-bundle {
  margin: 10px 0 40px;
  .row {
    position: relative;
  }
  .bundle-title {
    h2 {
      border-bottom: 1px solid #d7d7d7;
      padding-bottom: 5px;
      span {
        color: @purple;
      }
    }
  }
  .bundle-product-name {
    margin: 10px 0 5px;
  }
  .product-wrapper {
    padding: 10px;
    .product-image {
      border: 1px solid #d7d7d7;
      background: white;
      text-align: center;
      position: relative;
      img {
        display: inline;
      }
    }
    &.last/*, &:nth-child(4n+4)*/ {
      .fa-plus {
        display: none;
      }
    }
  }
  .fa-plus {
    background: @gray-light;
    border-radius: 50%;
    color: white;
    float: left;
    font-size: 35px;
    height: 50px;
    left: 100%;
    line-height: 52px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    z-index: 100;
    .translate(-15px, -50%);
  }
  span.equals {
    color: @gray-light;
    font-size: 70px;
    font-weight: bold;
    line-height: 52px;
    position: absolute;
    left: 0;
    .translate(0px, -50%);
  }
  .add-set {
    width: 175px;
    position: absolute;
    right: 0;
    white-space: normal;
    margin-top: 10px;
    .translate(0px, -50%);
    .btn-text {
      border-bottom: 1px solid;
      display: inline-block;
      margin-bottom: 2px;
      padding-bottom: 5px;
    }
  }
  .bundle-product-price.regular {
    text-decoration: line-through;
    float: left;
  }
  .bundle-product-price.sale {
    color: @purple;
    float: left;
    margin-left: 10px;
  }
}

@media @extra-small {
  #active-wrapper {
    border: none !important;
  }
  .product-wrapper {
    .product-information {
      padding: 0;
    }
    .ljekarnik-count-down {
      font-size: 14px;
    }
  }
  .product-label {
    width: 25%;
    padding: 0 0 25%;
    &.label-bio {
      font-size: 20px;
    }
    &.label-eco {
      font-size: 20px;
    }
    &.label-gluten-free {
      font-size: 12px;
    }
    &.label-sugar-free {
      font-size: 11px;
    }
    &.label-vegan {
      font-size: 11px;
    }
    &.label-no-artificial-coloring {
      font-size: 11px;
    }
    &.label-no-perfume {
      font-size: 11px;
    }
    &.label-no-preservatives {
      font-size: 11px;
      small {
        font-size: 0.7em;
      }
    }
  }
  .products-bundle {
    .fa-plus {
      left: 50%;
      top: 100%;
      .translate(-50%, -15px);
    }
    span.equals {
      display: none;
    }
    button.add-set {
      position: relative;
      max-width: 100%;
      left: 50%;
      right: auto;
      top: 0 !important;
      .translate(-50%, 0);
    }
    .bundle-button {
      padding: 0 10px;
      .btn {
        width: 100%;
      }
    }
  }
  .bundle-product-prices {
    background: white;
    border: none;
    border-radius: 0 0 6px;
    left: 11px;
    opacity: 0.8;
    overflow: hidden;
    padding: 5px 15px;
    position: absolute;
    top: 11px;
    .sale {
      margin-left: 0 !important;
      clear: left;
    }
  }
}

@media @medium {
  .product-label {
    &.label-bio {
      font-size: 20px;
    }
    &.label-eco {
      font-size: 20px;
    }
    &.label-gluten-free {
      font-size: 12px;
    }
    &.label-sugar-free {
      font-size: 11px;
    }
    &.label-vegan {
      font-size: 11px;
    }
    &.label-no-artificial-coloring {
      font-size: 11px;
    }
    &.label-no-perfume {
      font-size: 11px;
    }
    &.label-no-preservatives {
      font-size: 11px;
      small {
        font-size: 0.7em;
      }
    }
  }
  .products-bundle .add-set {
    width: 135px;
  }
}

@media @small {
  .product-label {
    &.label-bio {
      font-size: 20px;
    }
    &.label-eco {
      font-size: 20px;
    }
    &.label-gluten-free {
      font-size: 12px;
    }
    &.label-sugar-free {
      font-size: 11px;
    }
    &.label-vegan {
      font-size: 11px;
    }
    &.label-no-artificial-coloring {
      font-size: 11px;
    }
    &.label-no-perfume {
      font-size: 11px;
    }
    &.label-no-preservatives {
      font-size: 11px;
      small {
        font-size: 0.7em;
      }
    }
  }
  .products-bundle .add-set {
    width: 120px;
  }
}